.idea
.vscode
bin/
*/.DS_Store
static/uploadfile
main.exe
go-admin
go-cli
config/settings.dev.yml
config/settings.tools.dev.yml
temp/
!temp
vendor
common/middleware/demo.go
temp/logs
cmd/migrate/migration/version-local/*
!cmd/migrate/migration/version-local/doc.go

.run/go build  go-admin-sqlite3.run.xml
*.sum
91350200MA31RD1P7H_import_export_enterprises_report_json.json
graph-server-linux-amd64
